{% include "header.html" %}


  <!-- products section -->
  <section class='feature-area setion-gap  ' id='service'>
    <div class='container ' style='text-align:center'>
      <div class='row d-flex justify-content-center'>
        <div class='menu-content pb-60 col-lg-g' style='margin-top:12%>
          <div class='title text-center'>
            <h1 class='mb-10' >User Form</h1>
  
          </div>
        </div>
        
      </div>
  
    <div class="heading_container">
      <h2>
        About Us
      </h2>
      
    </div>
    <div class="container layout_padding">
      <div class="product_container">
        <p style="color: #04771d;"><b>Lucknow Kabadiwala is a new start-up for recycling the waste.
           It provides a platform to sell your scrap  online .
            You can save your time ,earn money and contribute to natural welfare.

          Scrap is picked up  by verified pickup boy. The platform basically work
           as a door-step method.You can fill the contact form and our team will 
           contact you as soon as possible or you can directly call us on given number.
          <br><br>Lucknow Kabadiwala is All-in-One solution for scrap sales at your door step.
             Our aim is to give you the hassle-free solution for scrap sales where 
             you can contact us online by filling a simple form to schedule your pickup.
            <br></br>
          <br>Rate cards are pre-defined which the seller can check online so means you're 
          not needed to have any bargain at the time when we pick the scrap. We deal in
           every kind of the scrap so you can contact us even if the scrap category is 
           not defined on the rate card.
          <br><br>We tried making our services very convenient where you can contact us
           by filling a simple online form using your mobile or PC to schedule the pickup 
           and then our support team will contact you back to complete the further processes required.</b></p>
      </div>
    </div>
  </section>

  <!-- end products section -->


  
{% include "footer.html" %}
  