<!-- footer section -->

  
  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container links_container">
      <div class="row ">
        <div class="col-md-3">
          <h3>
        About Us
          </h3>
          <ul>
            <p>
              Lucknow Kabadiwala is All-in-One solution for scrap sales at your door step.
               it is hassle-free solution for scrap sales. 
               <a href="{% url 'about' %}">more</a>
            </p>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>
            LET US HELP YOU
          </h3>
          <ul>
            <li>
              <a href="{% url 'contact' %}">
                Sell or Donate
              </a>
            </li>
            
            <li>
              <a href="{% url 'term' %}">
                Terms & Condition
              </a>
            </li>
            <li>
              <a>
                Services
              </a>
            </li>
            
            <li>
              <a href="{% url 'contact' %}">
                Contact
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>
            INFORMATION
          </h3>
          <ul>
            <li>
              <a href="{% url 'home' %}">
                Home
              </a>
            </li>
            <li>
              <a href="{% url 'price' %}">
                Price List
              </a>
            </li>
            
            <li>
              <a href="https://www.youtube.com/watch?v=Jm-LLEIsY54">
                Press & News
              </a>
            </li>
            <li>
              <a href="{% url 'home' %}">
                Contribution
              </a>
            </li>
            
          </ul>
        </div>
        <div class="col-md-3">
          <h3>
            OUR SHOP
          </h3>
          <ul>
            <li>
              <a >
                +91 9670373959
              </a>
            </li>
            
            <li>
              <p> Near Hanuman Chouraha, Doud Nagar, Faizullagunj phase-2, Lucknow
                
              </p>
            
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="follow_container">
        <div class="row">
          <div class="col-md-9">
            <div class="app_container">
              <h3>
                DOWNLOAD OUR APPS

              </h3>
              <div>
                <img src="/static/images/google-play.png" alt="">
                <img src="/static/images/apple-store.png" alt="">
              </div>
            </div>
          </div>
          <div class="col-md-3 ">
            <div class="info_social">
              <div>
                <a href="">
                  <img src="/static/images/fb.png" alt="">
                </a>
              </div>
              <div>
                <a href="">
                  <img src="/static/images/twitter.png" alt="">
                </a>
              </div>
              <div>
                <a href="">
                  <img src="/static/images/linkedin.png" alt="">
                </a>
              </div>
              <div>
                <a href="">
                  <img src="/static/images/instagram.png" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  
  </section>
  <section class="container-fluid footer_section">
    <p>
      Copyright &copy; 2019 All Rights Reserved By
      <a href="https://html.design/">Om Enterprises</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.js"></script>

  <script>
    function openNav() {
      document.getElementById("myNav").style.width = "100%";
    }

    function closeNav() {
      document.getElementById("myNav").style.width = "0%";
    }
  </script>
</body>

</html>